@charset "utf-8";
/* CSS Document */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea,th, td, a ,img { 
margin: 0;padding: 0;}
body{ font-family:"MicrosoftYaHei"; font-size:62.5%; width:100%; background-color:#ffffff; font-style:normal; min-height:510px;}

input { border:none; color:#e1e5e7; font-size:2rem;}
ul, ol { list-style: none; }
.l {float:left;}
.r {float:right;}
.bgc_blue {background-color:#5fc0cd}
.white {color:#fff;}

.header {height:45px; width:100%; display:table; position:fixed; top:0; left:0;}
.header h2 { text-align:center; line-height:45px; position:absolute; width:100%; font-size:1.2rem;}
.header a{  vertical-align:middle; display:table-cell; }
.header a img { display:block; margin-left:4%; width:16px; }
/**.wrap_photo { border-radius:50%; background-color:#efefef; width:90px;height:90px; margin-top:45px; margin-left:40px;}**/
.wrap img { width:70px; margin:40px 20px 0 20px; float:left;}

.intro { display:table-cell; vertical-align:middle; width:100%;}
.intro .name { font-size:1.2rem; }


.main hr { background-color:#8E8E8E; height:1px; border:none;}
.main ul { padding:0 1rem;}
.main li{ border:1px #8E8E8E solid; height:3rem; border-top:none; border-right:none; border-left:none;  width:100%; display:table;}

.main i {border-right:1px #8E8E8E solid; display:inline-block; height:1rem; vertical-align:middle; margin-left:1rem;}

.main h2 { display:inline-block; border-left:1px #3AD4CD solid; margin:1rem 0 1rem 20px; text-indent:1rem; font-weight:100;}
.main span { font-size:0.8rem;color:#8E8E8E; display:inline-block; margin:1rem 0 0 0; padding-right:1rem; border-right:1px #8E8E8E solid; width: 52px;}
.main .sub_rs { display:table-cell; vertical-align:middle; padding-left:20px; height:3rem; width:inherit;}

.footer { width:100%; height:2.5rem;font-size:1rem; color:#5fc0cd; position:fixed; left:0; bottom:0; padding-bottom:1rem; background-color:#fff;}
.footer .ft_btn{ width:40%; border:1px #5fc0cd solid; height:2.5rem;  margin-left:6%; text-align:center; line-height:2.5rem; -wibkit-border-raidus:10px;-moz-border-raidus:10px; border-radius:10px;}

.intro .adr { background:url(images/shape.png) no-repeat;text-indent:1rem; background-size:13px 17px; font-size:1rem; line-height:1rem;}
.main .star { background:url(images/star.png) no-repeat 0 0.9rem; height:3rem; background-size:19px 18px;  display:inline-block; padding-left:22px; line-height:3rem; margin-left:1rem;}
.wrap { background-image:url(images/wrapbg.jpg); background-size:cover; height:150px; width:100%; overflow:hidden; display:table; margin-top:45px;} 